.event-detail-card {
  max-width: 400px; /* Reduce el ancho máximo de la tarjeta */
  width: 100%; /* Asegura que la tarjeta ocupe todo el espacio disponible */
  margin: 30px auto; /* Centrado y margen superior/inferior */
  padding: 20px; /* Reduce el padding para hacerla más compacta */
  border-radius: 12px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Disminuye la sombra para un look más suave */
  background-color: #ffffff;
  border: 1px solid #e0e0e0;
}

.event-detail-card .ant-card-head {
  background-color: #f9a825;
  border-radius: 12px 12px 0 0;
  font-size: 22px; /* Reduce el tamaño de la fuente */
  color: #ffffff;
  text-align: center;
  padding: 10px; /* Reduce el padding para que sea más compacto */
}

.event-detail-card p {
  font-size: 16px; /* Reduce el tamaño de la fuente */
  line-height: 1.5;
  color: #333;
  margin-bottom: 10px; /* Reduce el margen inferior entre párrafos */
}

.event-detail-card p strong {
  color: #f57f17;
}

.event-detail-card img {
  max-width: 100%;
  height: auto; /* Ajusta la altura de la imagen automáticamente */
  border-radius: 8px;
  margin: 15px 0;
  border: 1px solid #ddd;
}

.event-detail-card .ant-btn {
  background-color: #f57f17;
  border-color: #f57f17;
  color: #fff;
  padding: 8px 16px; /* Reduce el padding para un tamaño más pequeño */
  font-size: 14px; /* Reduce el tamaño de la fuente */
  border-radius: 8px;
  transition: background-color 0.3s ease;
  display: block;
  width: 120px; /* Reduce el ancho del botón */
  margin: 15px auto 0; /* Centrado horizontal */
}

.event-detail-card .ant-btn:hover {
  background-color: #ffab40;
  border-color: #ffab40;
}

.event-detail-card .ant-btn:focus {
  box-shadow: 0 0 0 2px rgba(245, 127, 23, 0.4);
}

.volver-button {
  background-color: #f57f17;
  border-color: #f57f17;
  color: #fff;
  padding: 8px 16px; /* Ajusta el padding */
  font-size: 14px; /* Ajusta el tamaño de la fuente */
  border-radius: 8px;
  transition: background-color 0.3s ease;
  display: block;
  width: 120px; /* Reduce el ancho del botón */
  margin: 15px auto 0; /* Centrado horizontal */
  height: auto;
}

.volver-button:hover {
  background-color: #ffab40;
  border-color: #ffab40;
}

.volver-button:focus {
  box-shadow: 0 0 0 2px rgba(245, 127, 23, 0.4);
}
.event-detail-card img {
  max-width: 100%; /* Mantiene la imagen adaptada al ancho de la tarjeta */
  max-height: 300px; /* Limita la altura máxima de la imagen */
  border-radius: 8px;
  margin: 15px 0;
  border: 1px solid #ddd;
  object-fit: cover; /* Asegura que la imagen se ajuste dentro del contenedor */
}
