.event-form-container {
  max-width: 900px; /* Aumenta el ancho máximo del contenedor */
  margin: 0 auto;
  padding: 20px;
  background-color: #f9f9f9; /* Color de fondo opcional */
  border-radius: 8px; /* Bordes redondeados */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Sombra opcional */
}

.ant-form-item {
  margin-bottom: 16px;
}

.ant-input, 
.ant-select-selector, 
.ant-radio-group, 
.ant-input-number {
  border-radius: 5px;
  border-color: #ccc;
  font-size: 16px;
}

.ant-form-item-label > label {
  font-weight: 500;
  font-size: 16px;
}

.ant-btn-primary {
  background-color: #1890ff; /* Color del botón primario */
  border-color: #1890ff; 
  font-size: 16px;
  padding: 8px 16px;
  border-radius: 5px;
}

.ant-btn-default {
  font-size: 16px;
  padding: 8px 16px;
  border-radius: 5px;
}

.calendar-container {
  margin-top: 30px;
}

.events {
  list-style: none;
  padding-left: 0;
  margin: 0;
}

.events li {
  background: #e6f7ff;
  border-left: 3px solid #1890ff; /* Color del borde izquierdo */
  padding: 8px;
  margin-bottom: 4px;
  border-radius: 5px;
}

.events li strong {
  display: block;
  font-weight: bold;
}

.events li em {
  font-size: 14px;
  color: #555;
  display: block;
}

.events li span {
  font-size: 14px;
  color: #333;
}

.ant-picker {
  width: 100%;
  border-radius: 5px;
  font-size: 16px;
}

.ant-upload .ant-btn {
  font-size: 16px;
}

.ant-select-selector {
  height: 40px; /* Altura del selector */
}

.ant-radio-group {
  display: flex;
  gap: 10px;
}
