.navbar-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: #023047; /* Fondo azul oscuro */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Sombra sutil */
  }
  
  .logo-container h1 {
    margin: 0;
    font-size: 24px;
    font-weight: bold;
    color: #f0eeea; /* Color naranja */
    cursor: pointer;
    transition: color 0.3s ease;
  }
  
  .logo-container h1:hover {
    color: #ecbc43; /* Cambia a un naranja más claro al pasar el mouse */
  }
  
  .button-group {
    display: flex;
    gap: 15px;
  }
  
  .button-group .ant-btn {
    font-size: 16px;
    padding: 5px 15px;
    border-radius: 4px;
  }
  
  .button-group .ant-btn-primary {
    background-color: #fb8500; /* Fondo naranja */
    border-color: #fb8500;
  }
  
  .button-group .ant-btn-primary:hover {
    background-color: #ffb703; /* Fondo naranja más claro al pasar el mouse */
    border-color: #ffb703;
  }
  
  .button-group .ant-btn-default {
    border-color: #fb8500;
    color: #fb8500;
  }
  
  .button-group .ant-btn-default:hover {
    border-color: #ffb703;
    color: #ffb703;
  }
  