.form {
  display: flex;
  flex-direction: column;
  gap: 10px;
  max-width: 350px;
  background-color: #ffffff;
  padding: 20px;
  border-radius: 20px;
  position: relative;
}

.title {
  font-size: 28px;
  color: #023047; /* Color principal actualizado */
  font-weight: 600;
  letter-spacing: -1px;
  position: relative;
  display: flex;
  align-items: center;
  padding-left: 30px;
}

.title::before,
.title::after {
  position: absolute;
  content: "";
  height: 16px;
  width: 16px;
  border-radius: 50%;
  left: 0px;
  background-color: #023047; /* Color principal actualizado */
}

.title::before {
  width: 18px;
  height: 18px;
  background-color: #023047; /* Color principal actualizado */
}

.title::after {
  width: 18px;
  height: 18px;
  animation: pulse 1s linear infinite;
}

.message, .signin {
  color: rgba(88, 87, 87, 0.822);
  font-size: 14px;
}

.signin {
  text-align: center;
}

.signin a {
  color: #023047; /* Color de los enlaces actualizado */
}

.signin a:hover {
  text-decoration: underline #023047; /* Subrayado del enlace */
}

.flex {
  display: flex;
  width: 100%;
  gap: 6px;
}

.form label {
  position: relative;
}

.form label .input {
  width: 100%;
  padding: 10px 10px 20px 10px;
  outline: 0;
  border: 1px solid rgba(105, 105, 105, 0.397);
  border-radius: 10px;
}

.form label .input + span {
  position: absolute;
  left: 10px;
  top: 15px;
  color: grey;
  font-size: 0.9em;
  cursor: text;
  transition: 0.3s ease;
}

.form label .input:placeholder-shown + span {
  top: 15px;
  font-size: 0.9em;
}

.form label .input:focus + span,
.form label .input:valid + span {
  top: 0px;
  font-size: 0.7em;
  font-weight: 600;
}

.form label .input:valid + span {
  color: #023047; /* Color de validaci贸n */
}

.submit {
  border: none;
  outline: none;
  background-color: #fb8500; /* Color del bot贸n */
  padding: 10px;
  border-radius: 10px;
  color: #ffffff;
  font-size: 16px;
  transition: 0.3s ease;
}

.submit:hover {
  background-color: #ffb703; /* Color del bot贸n al pasar el rat贸n */
  cursor: pointer;
}

.Errormessage {
  font-size: 14px;
  font-style: italic;
  color: #e14141;
  font-weight: 600;
  align-items: center;
  padding-left: 60px;
}

@keyframes pulse {
  from {
    transform: scale(0.9);
    opacity: 1;
  }
  to {
    transform: scale(1.8);
    opacity: 0;
  }
}
