.body{
  width: 800px;
  display: flex;
  justify-items: center;
}

.App {
  text-align: center;
  font-family: Arial, sans-serif;
  padding: 20px;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.create-event-button,
.login-button,
.register-button {
  background-color: #007BFF;
  color: white;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  margin-left: 10px;
}

.create-event-button:hover,
.login-button:hover,
.register-button:hover {
  background-color: #0056b3;
}

.filters {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

.search-bar {
  padding: 10px;
  margin-right: 10px;
  width: 200px;
}

.filter {
  padding: 10px;
  margin-right: 10px;
}

.event-list {
  text-align: left;
  margin-top: 20px;
}

.event-list h2 {
  margin-bottom: 10px;
}

.event-list ul {
  list-style-type: none;
  padding: 0;
}

.event-list li {
  background-color: #f8f9fa;
  padding: 10px;
  margin-bottom: 5px;
  border-radius: 5px;
}

@media (prefers-reduced-motion: no-preference) {
  .search-bar {
    animation: pulse-animation infinite 2s ease-in-out;
  }
}

@keyframes pulse-animation {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.05);
  }
  100% {
    transform: scale(1);
  }
}



